.blogdisplay
{
	background:url(/images/moduleheader.jpg) #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	position: relative;	
	padding: 20px;
	color:#474747;
	min-height: 300px;
}
.blogdisplay-title
{
	font-size: 24px;
	position: absolute;
	left: 90px;
	margin-top:20px;
}
.blogdisplay-content
{
	margin-top:100px;
	position: relative;
	overflow: hidden;
}
.blogdisplay-blog-title
{
	text-align: center;
}
.blogdisplay-blog-content
{
	padding-right: 20px;
	overflow: hidden;
}
.blogdisplay-author
{

}
.blogdisplay-commentary
{
	display: flex;
	justify-content:center;
}
input.blogdisplay-submit
{
	outline:medium;
	border: none;
	display: block;
	background-color: #ddd;
	width: 200px;
	height: 48px;
	font-family:"microsoft yahei";
	font-size:20px;
	border-radius: 5px;
	margin: 20px auto 0 auto;
}
.blogdisplay-submit:hover
{
	background-color: #aaa;
}
.blogdisplay-edit
{
	float: right;
	text-decoration: none;
	color:#474747;
}
.blogdisplay-author-message
{
	width: 200px;
	float: left;
	margin-right: 20px;
	border-right-width: 2px;
	border-right-color: #000;
	border-right-style: solid;
}
.blogdisplay-commentary-content
{
	overflow: hidden;
}
.blogdisplay-fenge
{
	height: 30px;
	background-color: #ddd;
}
.blogdisplay-floor
{
	float: right;
}