<div class="inup">
	<div class="inup-outline">
		<section class="inup-in" id="inup-active">
			<div class="inup-display">				
			</div>
			<form method="post" action="/login">
		    <input type="text" name="userId" autocomplete="off" placeholder="用户名" class="inup-input"><br>
		    <input type="password" name="passWord" placeholder="密码" class="inup-input"><br> 
		    <input type="submit" value="登录" class="inup-login">
		    </form>
		</section>
		<section class="inup-up" id="inup-hide">
			<div class="inup-logo"></div>
		<form method="post" action="/reg">
		    <input type="text" name="userId" placeholder="用户名" class="inup-input"><br>
		    <input type="text" name="userName" placeholder="昵称" class="inup-input"><br>
		    <input type="password" name="passWord" placeholder="密码" class="inup-input"><br>
		    <input type="password" name="passagain" placeholder="确认密码" class="inup-input"><br>
		    <input type="submit" value="注册" class="inup-login">
	    </form>
		</section>
	</div>
	<div class="inup-link">
		<a href="#in" class="inup-a-active">登录</a>
		<a href="#reg" class="inup-a-change">注册</a>
	</div>
</div>