<div class="inup">
	<div class="inup-outline">
		<section class="inup-in">
			<div class="inup-display">
				
			</div>
			<form method="post" action="/login">
		    <input type="text" name="userId" autocomplete="off" class="inup-input"><br>
		    <input type="password" name="passWord" class="inup-input"><br> 
		    <input type="submit" value="登录" class="inup-login">
		    </form>
		    <a href="#in" class="inup-active">登录</a>
			<a href="#reg" class="inup-change">注册</a>
		</section>
		<section class="inup-up inup-hidden">
		<form method="post" action="/reg">
		    <input type="text" name="userId">
		    <input type="text" name="userName">
		    <input type="password" name="passWord">
		    <input type="text" name="sex">
		    <input type="text" name="age">
		    <input type="text" name="describe">
		    <input type="text" name="display">
		    <input type="submit" value="注册">
	    </form>
	    <a href="#in" class="inup-change">登录</a>
		<a href="#reg" class="inup-active">注册</a>
		</section>
	</div>
</div>