.personaledit
{
	background:url(/images/moduleheader.jpg) #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	position: relative;	
	padding: 20px;
	color:#474747;
	min-height: 300px;
}
.personaledit-title
{
	font-size: 24px;
	position: absolute;
	left: 90px;
	margin-top:20px;
}
.personaledit-content
{
	margin-top:100px;
	position: relative;
	overflow: hidden;
}
.personaledit-content li
{
	margin-top:10px; 
}

.personaledit-display
{
	width: 150px;
	height: 150px;
	background-color: rgba(0,0,0,0);
	color:rgba(71,71,71,0.7);
	overflow: hidden;
	position: relative;
	border-radius: 50%;
}
.personaledit-file
{
	height: 150px;
	width: 150px;
	opacity: 0; 
	filter:Alpha(opacity=0);
	position: absolute;
	z-index: 1;
}
.personaledit-file-label
{

	position: absolute;
	top:70px;
	margin-left: 11px;
	z-index: 2;
}
.personaledit-display-img
{
	width: 150px;
	position: absolute;
	top: 0;
}