<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/login">
      <input type="text" name="userId">
      <input type="password" name="passWord"> 
      <input type="submit" value="登录">
    </form>

    <form method="post" action="/reg">
      <input type="text" name="userId">
      <input type="text" name="userName">
      <input type="password" name="passWord">
      <input type="text" name="sex">
      <input type="text" name="age">
      <input type="text" name="describe">
      <input type="text" name="display">
      <input type="submit" value="注册">
    </form>
  </body>
</html>
