body
{
	font-family: "microsoft yahei";
	display: flex;
	justify-content:center;
	background:#153039;
}
.left
{
	width: 300px;
	float: left;
	margin: 10px 0;
}
.center
{
	width: 900px;
	float: left;
	margin: 10px 10px;
}
.right
{
	width: 300px;
	float: left;
	margin: 10px 0;
}
.right>div,.left>div,.center>div
{
	margin: 10px 0;
}