<div class="blogcontent">
	<h3 class="blogcontent-title">博文内容</h3>
	<div class="blogcontent-content">
		<form method="post" class="blogcontent-form">
			<input type="text" placeholder="标题" name="blogTitle" class="blogcontent-input-title" value=<%= data.blogTitle %>><br>
			<span>类型：</span>
			<input type="radio" name="blogType" value="IT" id="it" <%if(data.blogType=='IT'){%>checked<%}%>><label for="it">IT</label>
			<input type="radio" name="blogType" value="医疗" id="yil" <%if(data.blogType=='医疗'){%>checked<%}%>><label for="yil">医疗</label>
			<input type="radio" name="blogType" value="娱乐" id="yul" <%if(data.blogType=='娱乐'){%>checked<%}%>><label for="yul">娱乐</label>
			<input type="radio" name="blogType" value="财务" id="cw" <%if(data.blogType=='财务'){%>checked<%}%>><label for="cw">财务</label>
			<input type="radio" name="blogType" value="时尚" id="ss" <%if(data.blogType=='时尚'){%>checked<%}%>><label for="ss">时尚</label>
			<input type="radio" name="blogType" value="其他" id="qt" <%if(data.blogType=='其他'){%>checked<%}%>><label for="qt">其他</label>
			<textarea id="editor_id" name="blogContent" style="width:800px;height:1000px;"><%- data.blogContent %></textarea>
			<input type="submit" class="blogcontent-submit" value="发表">
		</form>
	</div>
</div>