/*
 *nav-all:设置导航条基本设置;
 *可选
 */
.nav-all 
{
	background: #000000;
	width:300px;
	height: 50px;
	font-family: 'Microsoft YaHei','微软雅黑';
	font-size: 16px;
	color: #999999;
}
/**********************************************/

/*
 *nav-single:设置单个导航按钮;
 *可选
 */
 .nav-single
 {
 	width: 100px;
 	height: 50px;
 	float: left;
 }
 /**********************************************/

 /*
  *nav-select:设置被选中导航按钮;
  *必选
  */

 .nav-select
 {
	background: #ffffff;
	font-weight: bold;
	color: #ebe3b9;
 }

 /**********************************************/

 /*
  *section-all:所有选项内容基础设置;
  *可选
  */
  .section-all
  {
  	display: none;
  	width: 300px;
  	height: 300px;
  }
  /*********************************************/

/*
 *section-select:选中选项内容设置;
 *必选
 */
  .section-select
  {
  	display: block;
  }
 /*********************************************/
 

 /*
  *其他css文件内容
  */ 
  .s1
  {
background: #444;
  }
  .s2
  {
background: #aaa;
  }
  .s3
  {
background: #ddd;
  }
  